# Ignore everything
*

# But keep these files
!.gitignore
!README.md

# Whitelist only the child theme directory. This is done by ignoring the
# contents of each parent directory, then re-including the specific subdirectory.
/wp-content/*
!/wp-content/themes/

/wp-content/themes/*
!/wp-content/themes/twentytwentyfive-child/